---
layout: default
---

<!-- Banner -->
  <section id="banner">
    <div class="inner">
      <h2>{{ site.theme-settings.title }}</h2>
      <p>{{ site.theme-settings.description | markdownify }}</p>
    </div>
    <a href="#one" class="more scrolly">Continue</a>
  </section>

<!-- One -->
  <section id="one" class="wrapper style1 special">
    <div class="inner">
      <header class="major">
        <h2>Hello there,<br />
        my name is Casey Bennington and I'm a full stack developer.<br />
        I utilize web based technologies to solve your problems.<br />
        </h2>
        <p>Let me team with you to discover what would really make your business take off.<br />
          Utilize my experience to uniquely offer perspectives on how the web can increase your business</p>
        <p>What can I help you with today?<br />
        Below are some examples of what I've built using the following technologies:</p>
      </header>
      <ul class="icons major">
        <li class="tooltip"><span class="icon major style1"><i class="devicon-java-plain"></i><span class="label tooltiptext">Java</span></span></li>
        <li class="tooltip"><span class="icon major style2 tooltip"><i class="devicon-javascript-plain"></i><span class="label tooltiptext">Javascript</span></span></li>
        <li class="tooltip"><span class="icon major style1"><i class="devicon-bootstrap-plain"></i><span class="label tooltiptext">Bootstrap</span></span></li>
        <li class="tooltip"><span class="icon major style2"><i class="devicon-ruby-plain"></i><span class="label tooltiptext">Ruby</span></span></li>
        <li class="tooltip"><span class="icon major style3"><i class="devicon-rails-plain"></i><span class="label tooltiptext">Rails</span></span></li>
        <li class="tooltip"><span class="icon major style1"><i class="devicon-angularjs-plain"></i><span class="label tooltiptext">Angular</span></span></li>
        <li class="tooltip"><span class="icon major style2"><i class="devicon-html5-plain"></i><span class="label tooltiptext">HTML5</span></span></li>
        <li class="tooltip"><span class="icon major style3"><i class="devicon-css3-plain"></i><span class="label tooltiptext">CSS3</span></span></li>
      </ul>
    </div>
  </section>

<!-- Two -->
  <section id="two" class="wrapper alt style2">
    <!-- <h2>Projects</h2> -->
    {% for project in site.portfolio limit:3 %}
    <section class="spotlight">
      <div class="image">
        <a href="{{ project.url | prepend: site.baseurl }}">
        <img src="{{ project.thumbnail-path }}" alt="{{ project.title }}"/>
        </a>
      </div>
      <div class="content">
        <div class="project-description">
          <a href="{{ project.url | prepend: site.baseurl }}"><h2>{{ project.title }}</h2></a>
          <p>{{ project.short-description }}</p>
        </div>
      </div>
    </section>
    {% endfor %}
  </section>

  <!-- Three -->
    <section id="three" class="wrapper style3 special">
      <div class="inner">
        <header class="major">
          <h2>More of My Work</h2>
          <a class="portfolio-link" href="portfolio.html"><p>Check out more of my projects here!</p></a>
        </header>
      </div>
    </section>

<!-- Posts -->
<section id="posts" class="wrapper style4">
  <div class="inner">
    <div class="posts">
      <h2 class="post-header">My Posts</h2>
      <ul>
        {% for post in paginator.posts %}
        <li class="post-teaser">
          <header>
            <h3>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                {{ post.title }}
              </a>
            </h3>
            <p class="meta">
              {{ post.date | date: "%B %-d, %Y" }}
            </p>
          </header>
          <div class="excerpt">
            {{ post.excerpt | strip_html | strip_newlines | truncate: 120 }}
          </div>
          <a href="{{ post.url | prepend: site.baseurl }}">
            {{ site.theme-settings.str_continue_reading }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  <!-- </div> -->
  {% if paginator.total_pages > 1 %}
  <div id="pagination" class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      <i class="fa fa-chevron-left"></i>
      {{ site.theme-settings.str_prev }}
    </a>
    {% endif %}

    <a href="{{ site.baseurl }}/index.html" class="button">1</a>
    {% for page in (2..paginator.total_pages) %}
      <a href="{{ site.baseurl }}/blog/page{{ page }}" class="button">{{ page }}</a>
    {% endfor %}

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      {{ site.theme-settings.str_next }}
      <i class="fa fa-chevron-right"></i>
    </a>
    {% endif %}
  </div>
  {% endif %}
</div>

</section>

<!-- CTA -->
  <section id="cta" class="wrapper style2">
    <div class="inner">
      <header>
        <h3>Thanks for stopping by!</h3>
        <p>I am <i>currently</i> available. Want to work with me? <i>Sweet.</i><br />
        You can connect with me via this really awesome contact form or via email.
        Or through one of my various social media accounts, if you are daring enough to go that route.<br />
        And, if you are in San Diego, you could just try yelling really loudly...</p>
      </header>
      <ul class="actions vertical">
        {% for page in site.pages %}
          {% if page.title and page.hide != true %}
          <li>
            {% if page.title == 'Contact' %}
              <a class="button fit special" href="{{ page.url | prepend: site.baseurl }}">
                {{ page.title }}
              </a>
            {% else %}
              <a class="button fit" href="{{ page.url | prepend: site.baseurl }}">
                About
              </a>
            {% endif %}
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </section>
