<!-- Header -->
<header id="header"{% if page.layout == 'default' or page.layout == 'post' or page.layout == 'page' %} class="alt"{% endif %} class="site-header" >
  <h1><a href="{{ site.baseurl }}/index.html">{{ site.theme-settings.title }}</a></h1>
  <nav class="site-nav nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Menu</span></a>
        <div id="menu">
          <ul>
            <li><a href="{{ site.baseurl }}/index.html">Home</a></li>
            <li><a href="{{ site.baseurl }}/#two">Featured Projects</a></li>
            <li><a href="{{ site.baseurl }}/#posts">Blog</a></li>
            {% for page in site.pages %}
              {% if page.title and page.hide != true %}
                <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
              {% endif %}
            {% endfor %}
            <!-- <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}"
                   class="icon fa-feed"> RSS Feed</a></li> -->
          </ul>
        </div>
      </li>
    </ul>

		<!-- <ul>
			{% for page in site.pages %}
			{% if page.title and page.hide != true %}
			<li>
				<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">
					{{ page.title }}
				</a>
			</li>
			{% endif %}
			{% endfor %}
		</ul>
	</nav>
-->
</header>
